<strong>Olá, {{ deliveryman }}</strong>

<p>A entrega do produto <strong>{{ product }}</strong> foi cancelada</p>

<p>
  <strong>Descrição do problema: </strong> <br />
  {{ description }}
</p>

<p>
  <strong>Informações do destinatários</strong> <br />
  <small>
    <strong>Nome:</strong> {{ name }} <br />
    <strong>Rua:</strong> {{ street }} <br />
    <strong>Número:</strong> {{ number }} <br />
    <strong>Complemento:</strong> {{ complement }} <br />
    <strong>Estado:</strong> {{ state }} <br />
    <strong>Cidade:</strong> {{ city }} <br />
    <strong>CEP:</strong> {{ zip_code }} <br />
  </small>
</p>
